#the_Forms{
    position: absolute;
    left: 45vw;
    top: 35vh;
}

h1 {
    position: absolute;
    left: 44.5vw;
    top: 27vh;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

form {
    text-align: center;
    font-size: 20px;
}

input {
    padding: 10px;
}

body {
    background-color: rgba(66, 33, 99, 0.3);
    color: rgb(255, 128, 0);
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th, td {
    padding: 20px;
    min-width: 150px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div #the_Movies{
    overflow-x: auto;
}

tr:nth-child(odd){
    background-color: lightpink;
}

tr:nth-child(even){
    background-color: lightcyan;
}

ul {
    list-style-type: none;
    display: inline-block;
    width: 100%;
}

li {
    float: left;
    padding: 30px;
    width: 28%;
    text-align: center;
}

a.nav {
    text-decoration: none;
    color: darkorange;
    font-size: 30px;
    font-weight: 900;
}

html, body {
    font-size: 20;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(66, 33, 99, 0.3);
}

img {
    width: 500px;
    height: 400px;
}

img.movie {
    width: 150px;
    height: 150px;
}

blockquote {
    border-left: 4px;
    padding-left: 5px;
    font-size: 20px;
    color: #477;
    max-width: 400px;
}

p {
    text-align: right;
    font-size: 16px;
    color: #744;
    padding: 3px;
    margin-right: 10px;
}

div {
    border: 2px solid #222;
    float: left;
    margin: 5px;
}